.App {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #203e69;
    font-family: Mako, sans-serif;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
}

.sessionTable {
    color: white;
    align-items: center;
}

.overlay {
    display: none;
}

.options {
    padding-bottom: 20px;
}

.tittleName {
    font-size: 75px;
    color: goldenrod;
    margin-top: 50px;
}

.gamename h1 {
    color: white;
    font-size: 60px
}

.drawer-button {
    display: none;
}

.buttonsOnResponsive {
    display: none;
}

input {
    color: black;
}

.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    display: block;
    height: 100%;
    width: 0;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/opacity */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}


/* Position the content inside the overlay */

.overlay-content {
    position: relative;
    top: 25%;
    /* 25% from the top */
    width: 100%;
    /* 100% width */
    text-align: center;
    /* Centered text/links */
    margin-top: 30px;
    /* 30px top margin to avoid conflict with the close button on smaller screens */
    color: white;
}


/* Position the close button (top right corner) */

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}


/* modal */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}


/* in the beginning to hide the background*/

.modalStart {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
}

.modalStart h1 {
    color: goldenrod
}

.modal-StartGame {
    color: white;
    display: flex;
    position: absolute;
    width: 30%;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modal-main {
    display: flex;
    position: absolute;
    width: 30%;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    color: white;
}

.modal-mainWinner {
    display: flex;
    position: absolute;
    width: 30%;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: space-around;
    color: white;
    flex-direction: column;
    background-image: url("https://cdn.pixabay.com/photo/2017/07/21/23/57/concert-2527495__340.jpg");
    text-shadow: white;
}

.modal-rules {
    display: flex;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    color: black;
    background-color: white;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scoreboard {
    color: white;
    position: relative;
    top: 20%;
    font-size: 15px;
}

.scoreboard h1 {
    color: goldenrod;
}

.rules {
    color: white;
    position: relative;
    top: 20%;
    font-size: 15px;
}

.rules h1 {
    color: goldenrod;
}

.cardInner {
    color: white;
    border-style: solid;
    border-width: 5px;
    display: flex;
    border-color: goldenrod;
    background-color: goldenrod;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 10%;
    border: 10px;
    background-color: #1b3861;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
}

.category {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    color: white;
    font-weight: bold;
    height: 80px;
}

.question {
    color: white;
    font-size: 100px;
    height: 120px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

.tittle {
    top: 10%;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;
}

.buttonRules {
    width: 250px;
    height: 40px;
    background-color: #dfdfdf;
    border-radius: 5px;
    color: #000;
    font-size: 15px;
    border: none;
    transition: padding .3s;
}

.buttonRules:hover {
    background-color: green;
    color: white;
}

button:not(.buttonQuiz) {
    display: block;
    width: 250px;
    height: 40px;
    background-color: #dfdfdf;
    margin: 4px;
    border-radius: 5px;
    color: #000;
    font-size: 15px;
    border: none;
    transition: padding .3s;
}

button:hover:not(.buttonQuiz) {
    background-color: green;
    color: white;
}

.buttonWrongAnswer {
    background-color: red;
    color: white;
}

.buttonWrongAnswer:hover {
    background-color: red;
}

.buttonRightAnswer {
    background-color: green;
    color: white;
}


/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.buttonQuiz {
    display: block;
    width: 250px;
    height: 40px;
    color: black;
    font-size: 15px;
    text-align: center;
    position: relative;
    transition: all .35s;
    border-radius: 5px;
    border: none;
    margin: 4px;
}

.buttonQuiz span {
    position: relative;
    z-index: 2;
}

.buttonQuiz:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: green;
    transition: all .35s;
    border-radius: 5px;
}

.buttonQuiz:hover {
    color: white;
}

.buttonQuiz:hover:after {
    width: 100%;
}

@media only screen and (min-width: 1024px) {
    .row {
        padding-top: 150px;
    }
    .cardInner {
        width: 400px;
    }
    .category {
        font-size: 25px;
    }
    .question {
        font-size: 18px;
    }
}

@media only screen and (max-width: 768px) and (min-width:1px) {
    .buttonQuiz {
        width: 200px;
        height: 30px;
    }
    .option {
        font-size: 20px;
    }
    .tittleName {
        font-size: 40px;
        margin-top: 20px;
    }
    .cardInner {
        width: 300px;
    }
    .category {
        font-size: 20px;
    }
    .question {
        font-size: 15px;
    }
    .scoreboard {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .buttonsOnResponsive {
        display: block;
    }
    .buttonsOnResponsive button {
        width: 200px;
        height: 30px;
    }
    .rulesDrawer {
        color: yellow;
        font-size: 30px;
    }
    .drawer-button {
        position: absolute;
        top: 40%;
        left: 10px;
        width: 100px;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        z-index: 100;
    }
    .app {
        position: relative;
    }
    .question {
        font-size: 18px;
    }
    .rules {
        display: none;
    }
    .category h1 {
        font-size: 25px;
    }
    .row {
        display: flex;
        flex-direction: column;
    }
    .scoreboard h1 {
        font-size: 21px;
    }
    .scoreboard h2 {
        font-size: 18px;
    }
    .scoreboard h3 {
        font-size: 15px;
    }
    .rulesForResponsive {
        visibility: visible;
        display: block;
        width: 250px;
        height: 40px;
        background-color: #dfdfdf;
        margin: .75rem;
        border-radius: 5px;
        color: #000;
        font-size: 15px;
        border: none;
        transition: padding .3s;
    }
    .buttonOverlay {
        display: block;
    }
}

@media only screen and (min-width:769px) and (max-width:1023px) {
    .scoreboard {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .buttonsOnResponsive {
        display: block;
    }
    .rulesDrawer {
        color: yellow;
        font-size: 30px;
    }
    .drawer-button {
        position: absolute;
        top: 40%;
        left: 10px;
        width: 100px;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        z-index: 100;
    }
    .app {
        position: relative;
    }
    .question {
        font-size: 18px;
    }
    .rules {
        display: none;
    }
    .category h1 {
        font-size: 25px;
    }
    .row {
        display: flex;
        flex-direction: column;
    }
    .scoreboard h1 {
        font-size: 30px;
    }
    .scoreboard h2 {
        font-size: 25px;
    }
    .scoreboard h3 {
        font-size: 20px;
    }
    .rulesForResponsive {
        visibility: visible;
        display: block;
        width: 250px;
        height: 40px;
        background-color: #dfdfdf;
        margin: .75rem;
        border-radius: 5px;
        color: #000;
        font-size: 15px;
        border: none;
        transition: padding .3s;
    }
    .buttonOverlay {
        display: block;
    }
}